{% extends "base.html" %}

{% block title %}Faktury{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Numer</th>
            <th>Usługa</th>
            <th>Data płatności</th>
            <th>Kwota</th>
        </tr>
        {% for invoice in object_list %}
        <tr>
            <th>{{invoice.number}}</th>
            <th>{{invoice.service}}</th>
            <th>{{invoice.payment_date}}</th>
            <th>{{invoice.service.price}}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}