{% extends "base.html" %}
{% load invoice_templatetags static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'invoices/style.css' %}">
{% endblock %}

{% block title %}Faktury{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Numer</th>
            <th>Usługa</th>
            <th>Data płatności</th>
            <th>Kwota</th>
        </tr>
        {% for invoice in object_list %}
        <tr class="{{ invoice|row_styler }}">
            <th>{{invoice.number}}</th>
            <th>{{invoice.service}}</th>
            <th>{{invoice.payment_date}}</th>
            <th>{{invoice.service.price}}</th>
        </tr>
        {% endfor %}
    </table>
    <p>Całkowita kwota do zapłaty wynosi {{ total_ammount }}zł</p>
{% endblock %}